/* You can add global styles to this file, and also import other style files */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Aileron';
    color: #333333;
}

footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.navbar {
    opacity: 0.8;
    filter: alpha(opacity=40);
}

.section-container {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.jumbotron {
    padding-left: 20px;
}